<!DOCTYPE html>
<html>
	<head>
		<title>My Surveys | <%= yield(:title) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<%= link_to "My surveys", '#', id: "logo" %>
					<nav>
						<ul class="nav pull-right">
							<li>
								<% if !session["uid"].present? %>
								<%= link_to 'Login', '/auth/github' %>
								<% else %>
								<%= link_to session["nickname"]+' Logout', '/logout' %>
								<% end %>
							</li>
							<li>
								<%= link_to 'Admin panel', '/admin' %>
							</li>
							<li>
								<%= link_to 'Home', '/static_pages/home' %>
							</li>
							<li>
								<%= link_to 'Help', '/static_pages/help' %>
							</li>
							<li>
								<%= link_to 'About', '/static_pages/about' %>
							</li>
							<li>
								<%= link_to 'All Surveys', :controller => "surveys", :action => "index" %>
							</li>
							<li>
								<%= link_to 'New Survey', new_survey_path %>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
		<footer class="footer">
			<nav>
				<ul>

				</ul>
			</nav>
		</footer>
	</body>
</html>